body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.mdc-drawer-app-content {
    overflow: hidden !important;
}

@font-face {
    font-family: 'nanum';
    font-display: auto;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), local('나눔스퀘어'), url("/res/NSR.woff");
    font-display: swap;
}

* {
    font-family: 'nanum';
    -webkit-font-smoothing: antialiased;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

#mdc-content {
    width: 100%;
}

.main-content {
    overflow-x: hidden;
    height: calc(100%);
}

.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7;
}

.mdc-drawer-app-content-margin {
    margin-left: 256px;
}


.mdc-list-item--activated * {
    color: #5351db !important;;
}

:root {
    --mdc-theme-primary: #5351db !important;
    --mdc-theme-secondary: #8cc4de !important;
    --mdc-theme-on-primary: #fff !important;
    --mdc-theme-on-secondary: #fff !important;
}

*::selection {
    background-color: #5351db !important;
    color: #ffffff !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 10px;
    background-color: #5351db;
    -webkit-box-shadow: inset -1px -1px 0px #5351db, inset 1px 1px 0px #5351db;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


a {
    text-decoration: none !important;
}

.mdc-list-item {
    transition: color .5s;
}

main > footer {
    background-color: #5351db !important;;
    color: white !important;
    width: 100%;
    padding-bottom: 10px;
    min-height: 220px;
}

main > footer a {
    color: white !important;
}

header a {
    color: white;
}

main {
    margin-top: 4px;
}

#iProg {
    transition: opacity .5s;
}

.mdc-dialog {
    z-index: 10000;
}

.mdc-dialog__scrim {
    backdrop-filter: blur(5px);
}