
.section-visible-on-start {
    opacity: 0;
    animation: fadein 0.3s ease-out;
    animation-fill-mode: forwards;
}

.section-visible {
    opacity: 0;
    animation: fadein 0.2s ease-out;
    animation-delay: 0.21s;
    animation-fill-mode: forwards;
}

.section-disabled {
    display: none;
}

.section-hidden {
    opacity: 1;
    animation: fadeout 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
        padding-bottom: 0;
        padding-top: 20px;
    }

    100% {
        opacity: 1;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    100% {
        opacity: 0;
        padding-bottom: 20px;
        padding-top: 0;
    }
}

.myb-button {
    margin: 10px;
}

.myb-card * {
    font-weight: lighter;
}

.myb-card > div {
    padding: 10px;
}

.section {
    margin-left: 15px;
    margin-right: 15px;
    min-height: calc(100vh - 247px - 71px);
}

@media (min-width: 1025px) {
    table {
        width: calc(100vw - 311px) !important;
    }

    .mdc-data-table {
        width: calc(100vw - 306px) !important;
    }
}

@media (max-width: 1024px) {
    table {
        width: calc(100vw - 55px) !important;
    }

    .mdc-data-table {
        width: calc(100vw - 50px) !important;
    }
}

#prevMeal {
    position: relative;
    top: -175px;
    height: 50px;
    background: #5351db;
    color: white;
    width: 50px;
    border-radius: 100%;
    left: -10px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

#nextMeal {
    position: relative;
    top: -175px;
    height: 50px;
    background: #5351db;
    color: white;
    width: 50px;
    border-radius: 100%;
    left: calc(100% - 105px);
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 767px) {
    #prevMeal {
        display: none;
    }

    #nextMeal {
        display: none;
    }
}

.mealCardIntro1 {
    opacity: 0;
    animation: mealCardIntroRight .3s ease forwards;
    animation-delay: .1s;
}

.mealCardIntro2 {
    opacity: 0;
    animation: mealCardIntroRight .3s ease forwards;
    animation-delay: .2s;
}

.mealCardIntro3 {
    opacity: 0;
    animation: mealCardIntroRight .3s ease forwards;
    animation-delay: .3s;
}

.mealCardIntro4 {
    opacity: 0;
    animation: mealCardIntroRight .3s ease forwards;
    animation-delay: .4s;
}

.mealCardIntro5 {
    opacity: 0;
    animation: mealCardIntroRight .3s ease forwards;
    animation-delay: .5s;
}

.mealCardIntro6 {
    opacity: 0;
    animation: mealCardIntroRight .3s ease forwards;
    animation-delay: .6s;
}

@keyframes mealCardIntroRight {
    from {
        margin-left: 40px;
        margin-right: -20px;
        opacity: 0;
    }
    to {
        margin-left: 10px;
        margin-right: 10px;
        opacity: 1;
    }
}

#hide-card {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    opacity: 0;
    animation: focusBack .5s forwards;
}

@keyframes focusBack {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}